extends layout

block content

  script.
    var onListCredentials = function() {
      console.log('=== onListCredentials ===');
      $.ajax({
        url:'/csc/credentials_list', 
        type:'GET',
        success: function(data) {
          window.location.href = "/credentials_list";
        },
      });
    };
    var onCredentialsInfo = function(credentialId) {
      console.log('=== onCredentialsInfo ===');
      $.ajax({
        url: '/csc/credentials_info',
        data: 'credentialId='+credentialId+'',
        type: 'GET',
        success: function(data) {
          //- $("#id-credential-info").val (`Subject: ${data.cert.subjectDN}\nValidity: ${data.cert.validFrom} - ${data.cert.validTo}` );
          window.location.href = "/credentials_list";
        },
      });
    };

  h1= title     

  p
    button(type="button", onclick='onListCredentials()') List Credentials

  p 
    ul
      each item in (credentials_list&&credentials_list.length)?credentials_list:["No credentials"]
        - credentials_info_str = JSON.stringify(credentials_info, null, "  ")
        li= item
          button(type="button" onclick='onCredentialsInfo("#{credentials_list}")') ?
          p
            textarea#rotextbox(cols="70", rows="30") #{credentials_info_str}
    